/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  font-family: 'Fredoka', sans-serif;
  padding: 30px;
  text-align: center;
}

section, p{
  padding: 20px 0;
}

h1{
  color: #D43168;
}

h3, .job{
  color: white;
}

span{
  display: block;
}

.mail{
  color: #53ABD0;
}

.row .col img{
  height: 75px;
}

/* COMPONETS */

.container{
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px 0;
}

/* UTILITY */
.clearfix{
  content: attr('');
  display: table;
  clear: both;
}

.debug{
  background-color: rgba(255, 0, 0, .50);
  border: 3px solid red;
}

/* MAIN */
