/* GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main, p{
  font-family: 'Fredoka', sans-serif;
  padding: 30px;
  text-align: center;
  padding: 40px 0;
}

section{
  margin-bottom: 30px;
}

h1{
  color: #D43168;
}

h4{
  text-transform: uppercase;
}

h4, .job{
  color: white;
}

span{
  display: block;
}

.mail{
  color: #24C6F3;
}

.row .box img{
  height: 75px;
  vertical-align: middle;
}

/* COMPONETS */

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* UTILITY */
.clearfix::after{
  content: attr('');
  display: table;
  clear: both;
}

.debug{
  background-color: rgba(255, 0, 0, .50);
  border: 3px solid red;
}

/* MAIN */

.box{
  background-color: #0F0E17;
  box-shadow: 2px 2px 20px #0F0E17;
  float: left;
  width: 31%;
  margin: 1%;
}

.row .box .reference{
  float: right;
  text-align: left;
  line-height: 1.5rem;
  padding: 0 50px 0 10px;
  width: calc(100% - 75px);
}
